<li>
  <div class="comment-separator">
    <p class="comment-poster"><small>
      <%= link_to comment.user.username, user_profile_path(comment.user.username), class: "comment-poster-name" %>
      <span class="comment-post-time"><%= "#{distance_of_time_in_words(comment.created_at, Time.now)} ago" %></span>
    </small></p>
    <p class="comment-body"><%= comment.body %></p>
    <p class="comment-buttons"><small>
      <%= link_to "reply", "##{get_digest(comment.body)}",  data: { toggle: :collapse },
                  aria: { controls: get_digest(comment.body).to_sym, expanded: false } %>
    </small></p>
  </div>
  <div class="collapse" id="<%= get_digest(comment.body) %>">
    <%= render partial: "posts/comment_form", locals: { comment: comment, get_comment: get_digest(comment.body) } %>
  </div>
  <ul>
    <%= render partial: "comments/comment_list", collection: comment.comments, as: :comment %>
  </ul>
</li>