<div class="row">
  <%= form_with model: @user do |f| %>
    <div class="col">
      <%= f.text_field :username %>
    </div>
    <div class="col">
      <%= f.email_field :email %>
    </div>
    <div class="col">
      <%= f.password_field :password %>
    </div>
    <div class="col">
      <%= f.submit "Edit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


