<div id="main-profile">
  <%= render partial: 'main_profile', locals: { user: current_user } %>
</div>

<aside id="friend-list-aside">
  <div id="pending-incoming-requests">
    <% unless @requests.nil? || @requests.none? %>
      <%= render partial: 'pending_requests', locals: { requests: @requests } %>
    <% end %>
  </div>

  <div id="current-friends-list">
    <% unless @friends.nil? || @friends.none? %>
      <%= render partial: 'friend_list', locals: { friends: @friends } %>
    <% end %>
  </div>

  <div id="potential-friend-list">
    <%= render partial: 'potential_friends', locals: { potential_friends: @potential_friends } %>
  </div>
</aside>

<div id="posts-created">
  <% unless current_user.posts.empty? %>
    <%= render partial: 'user_posts', locals: { posts: @posts } %>
    <span id="pagy-small">
      <%== pagy_bootstrap_nav(@pagy) %>
    </span>
  <% end %>
</div>
