<p><%= @post.body %></p>

<% unless @post.user == current_user %>
  <p class="like-button"><%= button_to(@button, post_likes_path(@post.slug), remote: true,
                                       id: "btn-like") %></p>
<% end %>

<div class="posted-by">
  <p>
    <small>
      Posted by <%= link_to @post.user.username, user_profile_path(@post.user) %>
      <%= "#{distance_of_time_in_words(@post.created_at, Time.now)} ago" %>
    </small>
  </p>
  <p><small><%= "#{pluralize(@post.likes.count, "like")}" %></small></p>
</div>

<div class="post-comments">
  <p>COMMENTS GO HERE</p>
</div>
<%# TODO this page %>