<div class="row">
  <%= render partial: "likes_count_user_check", locals: { post: @post, is_liked: @is_liked } %>
  <div class="post-title col-11">
    <%= @post.title %>
    <%= render "post_date_author", post: @post %>
  </div>
</div>
<div class="post-body">
  <%= @post.body %>
</div>

<div class="post-comments row">
  <div class="col-md-12">
    <p>COMMENTS GO HERE</p>
    <%# TODO comment box %>
    <%= form_with model: Comment.new do |f| %>
      <%= f.text_area :body, id: "comment-field" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div id="btn-comment-field">
        <%= f.submit "Submit", class: "btn btn-primary", id: "btn-comment-submit" %>
      </div>
    <% end %>
  </div>
</div>
<div class="separator"></div>
<ul>
  <%= render partial: "comments/comment_list", collection: @post.comments, as: :comment %>
</ul>
<%# TODO this page %>