<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{type}" %>
      <% end %>
      <%= yield %>
      <%# TODO remove debug %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
