<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
  <%= render 'layouts/header' %>
    <div class="body-container">
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{type}" %>
      <% end %>
      <noscript>
        <%= render "layouts/noscript" %>
      </noscript>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
